black ; python_version == '3.7.*'
django
docutils
flake8
flake8-bugbear
flake8-comprehensions
flake8-tidy-imports
isort
multilint
patchy
Pygments
pytest
pytest-django
pytest-randomly
pytz
PyYAML
sqlparse
twine
